<div class="settingView" [ngClass]="{'openSetting': viewSetting}">
  <button (click)="masjed()">Masjed</button>
  <br>
  <button (click)="wallOfSalahAlDin()">Wall of Salah al-Din</button>
  <br>
  <button (click)="castleOfSalahAlDin()">Castles</button>
  <br>
  <button (click)="schools()">Schools</button>
  <br>
  <button (click)="changeTheme()">Change Theme Map</button>
  <span (click)="openSettingFn()"></span>
</div>


<div class="dataViewPanel">
  <div class="data" *ngIf="dataPlaceSelected">
    {{dataPlaceSelected.data}}
  </div>
  <button (click)="direction()">Direction</button> 
</div>

<app-gmap
  [latitude] = "latitude"
  [longitude] = "longitude"
  [coordinates] = "coordinates"
  [mapType] = "mapType"
  [Color] = "Color"
  [SColor] = "SColor"
  [SWeight] = "SWeight"
  [SOpacity] = "SOpacity"
  [FOpacity] = "FOpacity"
  [path] = "path"
  [placesObj] = "placesObj"
  [directionData] = "directionObj"
  [show] = "dirView"
  [zoomMap] = "zoom"
  (selected) = "selectPlace($event)"
  [mStyle] = "changeThemeStyle"
></app-gmap>


